@import "components/hello-sticker";

article {
  p {
    text-align: center;
    font-family: Sanchez, serif;
    max-width: 570px;
    margin: 1.5em auto;
    text-align: justify;
    font-size: 1em;
  }
  p.first {
    font-weight: bold;
    font-size: 1.1em;
  }
}

@media (max-width: 320px) {
  body {
    margin: 1.5em;
  }
}
